@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body, footer{
    background-color: #191919;
    color: #191919;
}

body div {
backgroud-color: #f5f5f5;
}

footer div {
backgroud-color: #f5f5f5;
}

#btn{
    border: 2px solid #f5f5f5;
}

nav {
border-radius: 0px 0px 25px 25px;
border: 2px solid #191919;
}

.nav-link {
font-size: 100%;
}

#navbar{
overflow-x: auto !important;
overflow-y: auto !important;
max-height: 200px !important;
}

.collapse-header [data-toggle="collapse"][aria-expanded="false"]::before {
    content: "+";
    float: left;
}

.collapse-header [data-toggle="collapse"]::before {
    content: "-";
    float: left;
}

#menu{
overflow-y: scroll;
}

@media (max-width: 576px) {
html {
font-size: 80%;
}
}
[class*="col-"] {
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

