/reCaptchaPublicKey.txt
/reCaptchaPrivateKey.txt
/ordinazioni/settings
/ordinazioni/settings/**
**/__init__.py
/SeiFritto/emailsettings.py
/domain.txt
/google_api_key.txt
/secretkey.txt
db.sqlite3
!/static
/static/*
**/migrations/**
/.idea/
/**/*.pyc
/media/slideshow/*
!media/slideshow
!**/migrations
!**/migrations/__init__.py