html, body, header{
    background-color: #191919;
    color: #191919;
}

#cart{
overflow-x: auto !important;
overflow-y: auto !important;
max-height: 200px !important;
}

#form{
overflow-y: scroll;
}

.collapse-header [data-toggle="collapse"][aria-expanded="false"]::after {
    content: "+";

}

.collapse-header [data-toggle="collapse"]::after {
    content: "-";
    float: left;
}

@media (max-width: 576px) {
html {
font-size: 80%;
}
}
[class*="col-"] {
}
