{% extends 'base.html' %}
{% load static %}

{%block media%}
<meta http-equiv="refresh" content="300">
{% endblock %}

{% block title %} Manage_SlideShow{% endblock %}

{% block content %}

<div style="padding-top: 1rem;">
    <div class="row">
    {% for item in slide %}
        <div class="col-12 col-md-6 col-lg-3" style="padding: 1em;">
        <div >
            <img src="{{item.img.url}}" style="width: 100%"/>
        </div>
        <div>
            <input type="checkbox" onchange="window.location.href='{{item.get_change_show_url}}'" {%if item.show%} checked {%endif%} value="Consegnata"/> Mostra
        </div>
        </div>
    {% endfor %}
    </div>
    <a class="btn btn-primary" href="CreateSlide" style="margin:0.5rem 0.5rem 0.5rem 3rem;"> AGGIUNGI SLIDE </a>
</div>
{% endblock %}