@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html {
font-family:'Poppins', sans-sarif;
}

body {
   margin: 0;
   height: 100%;
   overflow-y:hide;
}

#body-wrap {
   height: 100vh;
   display: grid;
   grid-template-rows: min-content auto min-content;
}

@media (max-width: 576px) {
html {
font-size: 0.8rem;
}